---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="El Sazón de Balzan">
	<header class="">
        <nav class="">
            <img src="../assets/Logotipo.png" alt="Logo">
            <ul class="">
                    <li>
                        Inicio
                    </li>
                    <li>
                        Menu
                    </li>
                    <li>
                        Ubicaciones
                    </li>
                    <li>
                        Contactanos
                    </li>
            </ul>
        </nav>
    </header>
</Layout>

<style>
	
</style>
